﻿
<div class="row">
    <div class="col-md-8">
        <div id="calendar" ui-calendar="uiConfig.calendar" ng-model="eventSources" calendar="myCalendar"></div>
    </div>
    <div class="col-md-4">
    </div>
</div>

<!--<div id="eventContent" title="Event Details" style="display:none;">
    Date: {{BookAppointmentObject.AppointementDate}}<br />
    Price: {{BookAppointmentObject.Price}}<br />
    Start: {{BookAppointmentObject.AppointementFromTime}}<br />
    End:  {{BookAppointmentObject.AppointementToTime}}<br />

    <input type="button" ng-click="SaveOrdersAndAppointementDetails()" class="btn btn-success" value="Book Appointment">

</div>-->

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{{ModelPopupTitle}}</h4>
            </div>
            <div class="modal-body">
                <div ng-show="ShowAvailable">
                    Date: {{BookAppointmentObject.AppointementDate}}<br />
                    Price: {{BookAppointmentObject.Price}}<br />
                    Start: {{BookAppointmentObject.AppointementFromTime}}<br />
                    End:  {{BookAppointmentObject.AppointementToTime}}<br />
                </div>
                <div ng-show="ShowBooked">
                    <p style="text-align:center;font-size:20px;">Oops! Appointment is Alreday Booked. Thanks!</p>
                </div>



                </div>
            <div ng-show="ShowAvailable">
                <div class="modal-footer">
                    <input type="button" ng-click="SaveOrdersAndAppointementDetails()" class="btn btn-success" value="Book Appointment">
                    <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
                </div></div>
            </div>

    </div>
</div>







