﻿<!DOCTYPE html>
<html ng-app="app2">
<head>
    <meta charset="utf-8">
    <base href="/MasterPage.html" />
    <title>:::.GRAF.:::</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">


    <!-- Common Custom Js Files -->
    <script src="Content/Scripts/jquery-1.11.3.js"></script>

    <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>-->
    <script src="../../Content/Scripts/angular.js"></script>
    <script src="https://rawgit.com/rzajac/angularjs-slider/master/dist/rzslider.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angularjs-slider/6.6.1/rzslider.css">

    <!--<script src="/Content/Scripts/angular.min.js"></script>-->
    <script src="/Content/Scripts/angular-route.min.js"></script>
    <script src="/Content/Scripts/ui-bootstrap-tpls-0.3.0.min.js"></script>
    <script src="Content/WebPages/js/angular-ui-bootstrap-0.10.js"></script>
    <script src="/Content/Scripts/textAngular-sanitize.min.js"></script>
    <script src="/Content/Scripts/textAngular.min.js"></script>
    <script src="/Content/Scripts/angular-cookies.js"></script>
    <script src="/Content/Scripts/angular-cookies.min.js"></script>
    <script src="Content/Scripts/highcharts.js"></script>
    <script src="Content/Scripts/highcharts-ng.js"></script>
    <!--<script src="Content/js/jquery-1.11.1.js"></script>-->
    <script src="Content/js/jquery-ui.js"></script>
    <script src="Views/WebPages/Credentials/MasterPages/MasterPage.js"></script>
    <script src="/Common/CommonBase.js"></script>
    <script src="/Common/Common.js"></script>


    <!-- Bootstrap Css -->
    <link rel="stylesheet" href="/Content/WebPages/css/bootstrap.min.css">
    <!-- FontAwesome Css -->
    <link rel="stylesheet" href="/Content/WebPages/css/font-awesome.css">
    <link href="Content/Css/font-awesome.css" rel="stylesheet" />
    <!-- Custom Css -->
    <link rel="stylesheet" href="/Content/WebPages/css/main.css">
    <link rel="stylesheet" href="/Content/WebPages/css/style.css">
    <link rel="stylesheet" href="/Content/WebPages/css/responsive.css">   
    <link href="Content/Css/jquery-ui.css" rel="stylesheet" />
    
    <!-------- book Appointments css and js---->
    <link href="Content/Css/fullcalendar.css" rel="stylesheet" />

    <script src="Content/Scripts/moment.js"></script>
    <script src="Content/Scripts/calendar.js"></script>
    <script src="Content/Scripts/fullcalendar.js"></script>
    <script src="Content/Scripts/gcal.js"></script>


    <script src="Views/WebPages/Credentials/Registration/Registration.js"></script>
    <script src="Views/WebPages/Credentials/Login/Login.js"></script>
    <script src="Views/WebPages/Credentials/Profile/Profile.js"></script>
    <script src="Views/WebPages/Credentials/ChangePassword/ChangePassword.js"></script>
    <script src="Content/Scripts/Chart.min.js"></script>
    <script src="Content/Scripts/angular-chart.min.js"></script>

    <script src="Views/WebPages/BookAppointment/BookAppointment.js"></script>

</head>

<body>
    <!--Topbar start-->
    <section data-spy="affix" data-offset-top="60" data-offset-bottom="20">
        <div class="main-container">
            <div class="row">
            </div>
        </div>
    </section>
    <!--Topbar end-->
    <!--Banner start-->
    <section>
        <div class="container">
            <div class="row">
                <div ng-view></div>
            </div>
        </div>

    </section>

    <footer>
        <div class="main-container">
            <!--<p>© 2018 {{FooterContentText}}</p>-->
        </div>
    </footer>
    <!--Footer end-->
    <!--- Standard Jquery ---->
    <!--<script src="/Content/WebPages/js/jquery-3.1.1.min.js"></script>-->
    <!--- BootStrap Js ---->
    <script type="text/javascript" src="/Content/WebPages/js/bootstrap.js"></script>

    <script type="text/javascript" id="cookieinfo"
            src="Content/Scripts/cookieinfo.min.js"
            data-bg="#573E96"
            data-fg="#FFFFFF"
            data-link="#ffffff"
            data-divlink="#000000"
            data-divlinkbg="#ececf3"
            data-cookie="CookieInfoScript"
            data-moreinfo="/MasterPage.html#/TermAndConditions"
            data-text-align="center"
            data-message=""
            data-close-text="Close">
    </script>


</body>
</html>
