
body { width: 100%; margin: 0; padding: 0; font-family:Arial, Helvetica, sans-serif; font-size: 16px; color: #58595b; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

a { transition: all 0.3s ease-in-out 0s; -moz-transition: all 0.3s ease-in-out 0s; -webkit-transition: all 0.3s ease-in-out 0s; -o-transition: all 0.3s ease-in-out 0s; }

a:focus { outline: none; }

form { margin: 0; padding: 0; }

img { border: 0; }

.clr { clear: both; }

a { text-decoration: none; }

a:hover { text-decoration: none; }

a:focus { text-decoration: none; }

* { box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; }

input[type="file"]:focus,
input[type="checkbox"]:focus,
input[type="radio"]:focus { outline: 0 none; outline-offset: 0px; }

/* * * * * HTML 5 FIX * * * * */



article,
aside,
audio,
canvas,
command,
datalist,
details,
embed,
figcaption,
figure,
footer,
header,
hgroup,
keygen,
meter,
nav,
output,
progress,
section,
source,
video { display: block; margin: 0; padding: 0 }

button { outline: 0 none; }

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="search"],
select,
textarea { -webkit-appearance: none; }

input[type="button"],
input[type="submit"] { -webkit-appearance: none; cursor: pointer; outline: 0 none; transition: all 0.3s ease-in-out 0s; -moz-transition: all 0.3s ease-in-out 0s; -webkit-transition: all 0.3s ease-in-out 0s; -o-transition: all 0.3s ease-in-out 0s; }

textarea { resize: none }

/* * * * * SMALL CLASSES * * * * */



.mtp5 { margin-top: 5px !important }

.mtp10 { margin-top: 10px !important }

.mtp15 { margin-top: 15px !important }

.mtp20 { margin-top: 20px !important }

.mtp25 { margin-top: 25px !important }

.mtp30 { margin-top: 30px !important }

.mtp35 { margin-top: 35px !important }

.mtp40 { margin-top: 40px !important }

.mtp50 { margin-top: 50px !important }

.mtp100 { margin-top: 100px !important }

.mbtm5 { margin-bottom: 5px !important }

.mbtm10 { margin-bottom: 10px !important }

.mbtm15 { margin-bottom: 15px !important }

.mbtm20 { margin-bottom: 20px !important }

.mbtm25 { margin-bottom: 25px !important }

.mbtm30 { margin-bottom: 30px !important }

.mbtm35 { margin-bottom: 35px !important }

.mbtm40 { margin-bottom: 40px !important }

.mbtm45 { margin-bottom: 45px !important }

.mbtm50 { margin-bottom: 50px !important }

.mbtm55 { margin-bottom: 55px !important }

.mbtm60 { margin-bottom: 60px !important }

.mbtm65 { margin-bottom: 65px !important }

.mbtm70 { margin-bottom: 70px !important }

.mlt5 { margin-left: 5px !important }

.mlt10 { margin-left: 10px !important }

.mlt15 { margin-left: 15px !important }

.mlt20 { margin-left: 20px !important }

.mlt25 { margin-left: 25px !important }

.mlt30 { margin-left: 30px !important }

.mlt35 { margin-left: 35px !important }

.mlt40 { margin-left: 40px !important }

.mrt5 { margin-right: 5px !important }

.mrt10 { margin-right: 10px !important }

.mrt15 { margin-right: 15px !important }

.mrt20 { margin-right: 20px !important }

.mrt25 { margin-right: 25px !important }

.mrt30 { margin-right: 30px !important }

.mrt35 { margin-right: 35px !important }

.mrt40 { margin-right: 40px !important }

.plt5 { margin-left: 5px !important }

.plt10 { margin-left: 10px !important }

.plt15 { margin-left: 15px !important }

.plt20 { margin-left: 20px !important }

.plt25 { margin-left: 25px !important }

.plt30 { margin-left: 30px !important }

.plt35 { margin-left: 35px !important }

.plt40 { margin-left: 40px !important }

.prt5 { padding-right: 5px !important }

.prt10 { padding-right: 10px !important }

.prt15 { padding-right: 15px !important }

.prt20 { padding-right: 20px !important }

.prt25 { padding-right: 25px !important }

.prt30 { padding-right: 30px !important }

.prt35 { padding-right: 35px !important }

.prt40 { padding-right: 40px !important }

.pbtm5 { padding-bottom: 5px !important }

.pbtm10 { padding-bottom: 10px !important }

.pbtm15 { padding-bottom: 15px !important }

.pbtm20 { padding-bottom: 20px !important }

.pbtm25 { padding-bottom: 25px !important }

.pbtm30 { padding-bottom: 30px !important }

.pbtm35 { padding-bottom: 35px !important }

.pbtm40 { padding-bottom: 40px !important }

.ptp5 { padding-top: 5px !important }

.ptp10 { padding-top: 10px !important }

.ptp15 { padding-top: 15px !important }

.ptp20 { padding-top: 20px !important }

.ptp25 { padding-top: 25px !important }

.ptp30 { padding-top: 30px !important }

.ptp35 { padding-top: 35px !important }

.ptp40 { padding-top: 40px !important }

.plr20 { padding: 0 20px !important; }

.plr30 { padding: 0 30px !important; }

.plr40 { padding: 0 40px !important; }

.ptb30 { padding-top: 30px !important; padding-bottom: 30px !important; }

.ptb40 { padding-top: 40px !important; padding-bottom: 40px !important; }

/* Font Size */



.fsz12 { font-size: 12px !important; }

.fsz13 { font-size: 13px !important; }

.fsz14 { font-size: 14px !important; }

.fsz15 { font-size: 15px !important; }

.fsz16 { font-size: 16px !important; }

.fsz17 { font-size: 17px !important; }

.fsz18 { font-size: 18px !important; }

.fsz19 { font-size: 19px !important; }

.fsz20 { font-size: 20px !important; }

.fsz30 { font-size: 30px !important; }

/* Position */




.pos-rel { position: relative; }

.pos-abs { position: absolute; }

.main-container { margin: 0 auto; max-width: 1170px; padding: 0 15px; }


/* * * * * TopBar Start * * * * */

.topbar { margin:0; padding:10px 0 10px 0; width: 100%; border-bottom:5px solid #573E96; background:#E4E4E4;  z-index:100;position:fixed }

.logo { padding:0 }

.topbar h2{ font-size:40px; margin:0; color:#573E96; padding:0;}

.topbar h2 span{color:#666}

.topbar p{ margin:5px 0 0 0; color:#573E96; font-size:13px; font-weight:bold; text-transform:uppercase;}

.language-links{ margin:40px 0 0 0; }

.language-links ul{ margin:0; padding:0;}

.language-links ul li{ margin:0; padding:0 6px; border-right:1px solid #fff; font-size:10px;   list-style-type:none; float:left}

.language-links ul li:last-child{ border-right:0}

.language-links ul li a{font-size:10px; margin:0; padding:0; color:#666;}

.language-links ul li a:hover{ color:#fff}

/* * * * * Toplinks * * * * * */



.toplinks { margin: 0 0 0 0; padding: 0 0 1px 0; text-align: center; }

.toplinks ul { margin: 0; padding: 0; }

.toplinks ul li { margin: 0 1.7%; padding: 0; display: inline-block; list-style-type: none; }

.toplinks ul li:last-child { margin-right: 0 }

.toplinks ul li:nth-child(4n) { margin-left: 27% }

.toplinks ul li a { display: block; transition: all 0.3s ease-in-out 0s; padding: 42px 0 41px 0; text-align: center; border-bottom: 3px solid transparent; font-family: 'gotham_boldregular'; font-size: 16px; margin: 0 0 0 0; text-transform: uppercase; color: #000; }

.toplinks ul li a:hover,
.toplinks ul li a.active,
.toplinks ul li.current_page_item a,
.toplinks ul li:hover>a,
.toplinks ul li.current-menu-parent>a,
li.menu-item-37 a:hover { color: #ff6699; border-bottom: 3px solid #ff6699; }

.toplinks ul ul { background: #fff; display: none; position: absolute; width: 180px; z-index: 100; transition: all 0.10s ease-in-out; }

.toplinks ul li:hover>ul { display: block; }

.toplinks ul ul li { display: block; float: none; width: 100%; margin: 0; padding: 0; position: relative; border-bottom: 1px solid #ccc; }

.toplinks ul ul li:last-child { border-bottom: none }

.toplinks ul ul li a { padding: 10px; text-align: left; font-size: 14px; text-transform: none; color: #000; text-transform: uppercase; }

.toplinks ul ul li a:hover { background: #ff6699; color: #fff }

.toplinks ul ul ul { left: 100%; margin: 0; top: 0; }

/* * * * * Banner Home * * * * * */

.banner-home{ width:100%; margin:0; padding:0; position:relative;    height: 710px;}


.banner-home .item{ height:710px;}
/*.banner-home .right{ display:none;}
.banner-home .left{ display:none;}*/

.banner-home .carousel-caption{ bottom:auto; top:45%;left:10% !important;right:10% !important;}

.banner-home .carousel{ width:100%}

.banner-home h2{ font-size:40px; margin:0; padding:0; font-weight:600; text-align:left; color:#573E96;line-height: 50px;}

.banner-home ul{ margin:25px 0 0 25px; padding:0}

.banner-home ul li{ list-style-type:none; margin:0; padding:0; font-size:22px; text-align:left; color:#573E96;font-weight: 100; line-height: 35px;}



/* * * * * Advisory Panel * * * * * */

.ap-wrapper{ margin:0; padding:65px 0; width:100%}

.ap-wrapper h2{ text-align:center; margin:0 0 30px 0; padding:0; font-size:30px; color:#573E96; font-weight:bold}

.two-col{ max-width:796px; margin:0 auto; width:100%}

.greybx{ margin:0; padding:20px; width:100%}

.greybx-cont{ padding:20px; text-align:center; margin:0; background:#e4e4e4; border-radius:3px; width:100%;min-height:400px}

.greybx-cont h4{ margin:0 0 10px 0; line-height:14px; padding:0; font-weight:bold; font-size:22px;}

.greybx-cont h5{ margin:0 0 10px 0; line-height:14px; padding:0; font-weight:bold; font-size:16px;}

.greybx-cont p{ margin:0 0 15px 0; padding:0; font-size:14px; text-align:justify}

.greybx-cont a{font-size: 14px; border-bottom: 1px dotted #666; color: #58595b; padding-bottom: 2px;}

.greybx-cont a:hover{ color:#fff} 


/* * * * * Know your GRAF Quotient * * * * * */

.kygq-wrapper{ margin:0; padding:35px 0; text-align:center; background:url(../images/9.jpg) no-repeat top; background-attachment:fixed; width:100%}

.kygq-wrapper .main-container{ max-width:940px; margin:0 auto}

.kygq-wrapper h2{ margin:0; padding:0; font-size:30px; color:#666; font-weight:bold}

.form-outer{ background:#fff; margin:30px 0 0 0; padding:15px; border-radius:3px; width:100%;box-shadow: 0 0 3px rgba(0,0,0,0.6);
-moz-box-shadow: 0 0 3px rgba(0,0,0,0.6);
-webkit-box-shadow: 0 0 3px rgba(0,0,0,0.6);
-o-box-shadow: 0 0 3px rgba(0,0,0,0.6);}

.form-wrap{ padding:15px; width:100%; background:#e4e4e4; border-radius:3px;}

.form-wrap span{
    float:left;
}

input.form-control, select.form-control{ border-radius:0;}

.btn-next{ border-radius:3px; margin:14px 0 0 0; cursor:pointer; padding:8px 5px; float:right; min-width:100px; border:0; font-size:14px; background:#573E96; color:#fff;}

.btn-next:hover{ background:#666;}

.btn-back{ border-radius:3px; margin:14px 5px 0 0; cursor:pointer; padding:8px 5px; float:right; min-width:100px; border:0; font-size:14px; background:#666; color:#fff;}

.btn-back:hover{ background:#573E96 ;}

/* * * * * Disclaimer * * * * * */

.disclaimer-wrapper{ margin:0; padding:50px 0; width:100%}

.disclaimer-wrapper h4{ margin:0 0 5px 0; padding:0; color:#000; font-size:14px; font-weight:bold}

.disclaimer-wrapper p{ margin:0; padding:0; font-size:13px; color:#727272}

/* * * * * Footer * * * * * */

footer{ width:100%; background:#535354; padding:10px 0 25px 0}

footer p{ margin:0; padding:0; color:#fff; font-size:12px; font-weight:bold}

.tmargin5{
    margin-top:5px;
}

.tmargin10{
    margin-top:5px;
}

.tmargin20{
    margin-top:5px;
}

.questiom-container {
    margin-bottom: 15px;
}

.Bottom-Button{
    text-align:center;
}

.banner-home .banner-text ul li{
        list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 22px;
    font-weight: 100;
    text-align: left;
    color: #573E96;
    
     letter-spacing: 1px;
    line-height: 33px;
    word-spacing: 1px;
}

.AdvisoryDetail{
    text-align:center;
}
.AdvisoryDetail p{
    text-align:left;
}

.AdvisoryDetail .modal-header{
    text-align:left;
}

.carousel-caption {
     text-shadow: 0 0px 0px rgba(0,0,0,.6) !important; 
}
 /* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
