
@media only screen and (max-width:991px){
	
.topbar h2{ font-size:22px;}
.topbar p{ font-size:11px; }

.greybx-cont h4{
    line-height:20px;
}
.greybx-cont h4{
     font-size: 14px;
}

/* * * * Slick Nav start * * * */	

.js #menu { display: none; }

.js .slicknav_menu { display: block; }

.slicknav_btn { background:url(../images/nav-button.png) no-repeat center; /*position: absolute; */top: 10px; right: 20px; display: block; float:right; margin:20px; cursor: pointer; overflow: hidden; height: 35px; width: 40px; z-index: 999999; }

.slicknav_btn.slicknav_open { background:url(../images/close-nav-button.png) no-repeat center;/* Close icon */ color: #fff; z-index: 999999; }

.slicknav_menutxt { display: none; }

.toplinks ul li:hover>ul { display: none }


/* * * * Slick Nav end * * * */	

.banner-home .carousel-caption{ top:15%}

.banner-home h2{ font-size:41px}	

.banner-home ul li{ font-size:25px}

.banner-home { height: 260px;}
	
}


@media only screen and (max-width:767px){
    
.topbar h2{ font-size:22px;}

.topbar p{ font-size:11px; }

.logo{ text-align:center; margin-top:20px}

.language-links{ margin-top:20px;}

.language-links ul{ text-align:center}

.language-links ul li{ display:inline-block; float:none;}

.kygq-wrapper label{ width:100%; text-align:left}

footer{ text-align:center}

.banner-home .carousel-caption{ top:3%; left:5%; right:5%}

.banner-home h2{ font-size:20px; text-align:center;    line-height: 23px}

.banner-home .item{ height:280px!important;}
.banner-home .slide_item{ height:280px!important;width:100%}

.banner-home ul li{ font-size:13px;line-height: 20px}

.banner-home { height: 260px;}
.affix { position: static;}

.greybx-cont h4{
    line-height:20px;
}
.greybx-cont h4{
     font-size: 14px;
}
}