.btn-primary{
    background-color:#573E96 !important;
    border-color:#573E96 !important;
}

.modal-header {
    background-color: #cccccc !important;
}
.modal-popup-header {
    background-color: #cccccc !important;
}
.bold-word{
    font-weight:700;
    font-size: 12px!important;
}
.questions-section{
        background: aliceblue;
    padding: 15px;
}

.option4 {
    overflow: hidden;
    float: left;
    min-width: 135px;
    margin-bottom: 10px;
    padding-left: 5px;
}

    .option2 label,
    .option4 label {
        display: inline-block;
    }

    .option2 input[type=checkbox], .option3 input[type=checkbox], .option4 input[type=checkbox], .orange-headline input[type=checkbox] {
        margin: 0;
        vertical-align: middle;
    }
.errormessage {
        color: red;
    }